.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.works {
  width: 2122px;
  height: 1024px;
  display: block;
}
.background {
  background: rgba(14, 14, 14, 1);
  width: 1440px;
  height: 1024px;
  display: block;
  position: absolute;
  top: 0px;
  left: 341px;
}
.nothingtoShow {
  position: absolute;
  top: 462px;
  left: 750px;
  width: 622px;
  height: 155px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__vl3Lg {
  display: block;
  font-size: 120px;
  text-align: center;
  font-family: "Libre Barcode 128";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 5;
  color: rgba(7, 140, 164, 0.3);
}
.comingSoon {
  position: absolute;
  top: 97px;
  left: 0px;
  width: 2122px;
  height: 829px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__xdUyc {
  display: block;
  font-size: 50px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.1;
  color: rgba(7, 140, 164, 1);
}
.goBack {
  position: absolute;
  top: 192px;
  left: 0px;
  width: 2122px;
  height: 829px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.link {
  display: block;
  font-size: 30px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.1;
  color: rgba(7, 140, 164, 1);
}
