.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.home {
  width: 1451px;
  height: 1057px;
  display: block;
  background: #0f0f0f;
  padding-left: 0px;
  padding-right: 0px;
}
.text__jkNJp {
  position: absolute;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: rgba(7, 140, 164, 1);
  text-align: center;
  line-height: 1;
  letter-spacing: 0em;
  left: 1310px;
  top: 25px;
}
.text__vBMpE {
  position: absolute;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: rgba(7, 140, 164, 1);
  text-align: center;
  line-height: 1;
  letter-spacing: 0em;
  left: 1178px;
  top: 25px;
}
.helloIAmSqpceAHardlyWorking3DModelerBasedInBelgium {
  backdrop-filter: blur(100px);
  display: block;
  font-size: 40px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.1;
  color: rgba(7, 140, 164, 1);
  position: absolute;
  top: 465px;
  left: 450px;
  width: 562px;
  height: 145px;
  -webkit-backdrop-filter: blur(100px);
}
.sqpce {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 194px;
  height: 83px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 28px;
}
.text__xBAk7 {
  display: block;
  font-size: 80px;
  text-align: center;
  font-family: "Libre Barcode 128";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 5;
  color: rgba(7, 140, 164, 1);
  padding-top: 0px;
  margin-top: 0px;
  position: absolute;
  left: 6px;
  top: -142px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-left: 19px;
}
.svg__vB0Id {
  object-fit: cover;
  max-width: 100%;
  color: #088da5;
  transform: scale(1, -1);
  width: 55px;
  height: 56px;
  display: block;
  transform-origin: top left;
  position: absolute;
  left: 619px;
  top: 697px;
}
.svg__lL0ED {
  object-fit: cover;
  max-width: 100%;
  color: #088da5;
  width: 69px;
  height: 53px;
  display: block;
  position: absolute;
  left: 692px;
  top: 648px;
}
.svg__u77K4 {
  object-fit: cover;
  max-width: 100%;
  color: #088da5;
  width: 64px;
  height: 52px;
  display: block;
  position: absolute;
  left: 774px;
  top: 647px;
}
