.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.home {
  width: 1451px;
  height: 1057px;
  display: block;
  background: #0f0f0f;
  padding-left: 0px;
  padding-right: 0px;
}
.helloIAmSqpceAHardlyWorking3DModelerBasedInBelgium {
  backdrop-filter: blur(100px);
  display: block;
  font-size: 40px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.1;
  color: rgba(7, 140, 164, 1);
  position: absolute;
  top: 465px;
  left: 450px;
  width: 562px;
  height: 145px;
  -webkit-backdrop-filter: blur(100px);
}
.sqpce {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 194px;
  height: 83px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 28px;
}
.text {
  display: block;
  font-size: 80px;
  text-align: center;
  font-family: "Libre Barcode 128";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 5;
  color: rgba(7, 140, 164, 1);
  padding-top: 0px;
  margin-top: 0px;
  position: absolute;
  left: 6px;
  top: -142px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-left: 19px;
}
.link__yAdKw {
  display: block;
  font-size: 40px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1;
  color: rgba(7, 140, 164, 1);
  position: absolute;
  top: 22px;
  left: 1278px;
  width: 133px;
  height: 47px;
}
.link__bxUgY {
  display: block;
  position: absolute;
  top: 22px;
  left: 1122px;
  width: 152px;
  height: 42px;
  margin-left: 0px;
  letter-spacing: 0em;
  line-height: 1;
  text-align: center;
  color: rgba(7, 140, 164, 1);
  font-weight: 400;
  font-size: 40px;
  font-family: "Raleway", sans-serif;
}
.link___1Lxd {
  position: absolute;
  top: 699px;
  left: 625px;
  display: flex;
}
.svg__dh27R {
  object-fit: cover;
  max-width: 100%;
  color: #088da5;
  transform: scale(1, -1);
  width: 55px;
  height: 56px;
  display: block;
  transform-origin: top left;
  flex-shrink: 0;
}
.link__i3J5 {
  position: absolute;
  top: 61.21%;
  left: 47.69%;
  display: flex;
}
.svg__u77K4 {
  object-fit: cover;
  max-width: 100%;
  color: #088da5;
  width: 64px;
  height: 52px;
  display: block;
  flex-shrink: 0;
}
.link__gDs3P {
  position: absolute;
  top: 61.11%;
  left: 52.92%;
  display: flex;
}
.svg__lL0ED {
  object-fit: cover;
  max-width: 100%;
  color: #088da5;
  width: 69px;
  height: 53px;
  display: block;
  flex-shrink: 0;
}
